#features {
  text-align:left;
  background:url(../../assets/img/bg_laundryplasa.jpg);
  background-size:cover;
}

#features .jumbotron {
  max-width:860px;
  margin:0 auto;
  background-color:rgba(255,255,255,0);
  color:rgb(255,255,255);
}

.aboutus {
  margin-top:40px;
}

.title_h2 {
  text-align:center;
  font-weight:600;
  padding-bottom:20px;
}

.aboutus p {
  font-size:16px;
  max-width:800px;
  margin:0 auto;
  text-align:justify;
}

#sec_produk {
  padding:40px;
}

.aboutus p {
  padding-bottom:10px;
}

#maps {
  padding-top:40px;
}

#aboutus {
  background-color:rgba(0,163,255,0.18);
  padding-top:40px;
  padding-bottom:20px;
}

#layanan {
  padding:40px;
}

.img-fluid {
  padding:0;
  margin:0;
  width:150px;
}

.hotline {
  font-size:24px;
  font-family:Catamaran, sans-serif;
  font-weight:800;
}

@media (max-width: 576px) {
  .jumbotron {
    text-align:center;
    padding:30px;
  }
}

.jumbotron {
  padding:40px;
}

