#features {
  text-align:left;
  background:url(../../assets/img/bg_laundryplasa.jpg);
  background-size:cover;
}

#features .jumbotron {
  max-width:860px;
  margin:0 auto;
  background-color:rgba(255,255,255,0);
  color:rgb(255,255,255);
}

.title_h2 {
  text-align:center;
  font-weight:600;
  padding-bottom:20px;
  font-size:48px;
}

.sec_aboutus p {
  font-size:16px;
  max-width:800px;
  margin:0 auto;
  text-align:justify;
}

#produk {
  padding:30px;
}

#sec_aboutus p {
  text-align:justify;
}

#sec_aboutus {
  background-color:rgba(0,163,255,0.18);
  padding-top:10px;
  padding-bottom:10px;
}

#layanan {
  padding:30px;
}

.img-fluid {
  padding:0;
  margin:0;
  width:150px;
}

@media (min-width: 576px) {
  .hotline {
    font-size:40px;
    font-family:Catamaran, sans-serif;
    font-weight:800;    
  }
  .hotline a {color:white;}
}

.jumbotron {
  padding:40px;
}

@media (max-width: 576px) {
  .jumbotron {
    text-align:center;
    padding:30px;
  }
}

@media (max-width: 480px) {
  .jumbotron .smhead h1 {
    font-size:16px;
    background-color:white;
  }
}

@media (min-width: 768px) {
  .jumbotron p {
    font-size:24px;
  }
}

@media (max-width: 480px) {
  .hotline {
    font-size:24px;
    font-weight:800;
    font-family:Catamaran, sans-serif;
  }
}

#sec_produk {
  padding-bottom:20px;
}

#aboutus {
  padding:30px;
}

#lokasi {
  padding:30px;
}

#kontak a{
  color : white;
  /*padding:30px;*/
}

